.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.form {
    background: #fff;
    border-radius: 1rem;
    width: 90vw;
    max-width: 1170px;
}

.introduction {
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 60px;
}

.formContainer {
    display: 'flex';
    flex-direction: 'row';
    padding: '5px'
}


.propertyList {
    width: 90vw;
    max-width: 500px;
    margin: 2rem auto;
    display: grid;
    gap: 2rem;
}

.property {
    background: #fff;
    border-radius: 1rem;
    padding: 1rem 2rem;
    text-align: center;
}

.property img {
    width: 100%;
    height: 100%;
}

.feature {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f1f5f8;
    border-radius: 1rem;
    font-size: 20px;
    padding: 0.5rem;
}

.Box {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.5rem;
}

.dialogFeature {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FDE0D9;
    border-radius: 1rem;
    font-size: 20px;
    padding: 0.5rem;
}

.dialog {
    margin: 1rem 0rem;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.dialogImg {
    width: 90vw;
    max-width: 400px
}

@media all and (min-width: 720px) {
    .introduction {
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        max-width: 1170px;
    }
}

@media all and (min-width: 500px) {

    .dialog {
        justify-content: center;
    }

}

@media all and (max-width: 500px) and (min-width:320px) {
    .dialog {
        justify-content: center;
    }
}

@media all and (max-width:720px) and (min-width:300px) {
    .Box {
            flex-direction: column;
        }
}